<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <br>
    <div class="row mb-3">
        <div id="carouselExampleInterval" class="carousel slide col-6" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="6000">
                    <img src="/images/carousel3.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                    <img src="/images/carousel2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                    <img src="/images/carousel5.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <p class="col-6 lh-lg">
            <strong>Willkommen bei NetRun – Ihr Portal für Laufevents.</strong>
            Entdecken Sie die Welt des Laufens mit NetRun! Egal, ob Sie ein passionierter
            Marathonläufer sind oder gerade erst mit dem Laufen beginnen, hier finden Sie das
            perfekte Event für Ihre Bedürfnisse. Von malerischen Landschaftsläufen über aufregende
            Stadtwettkämpfe bis hin zu abenteuerlichen Trail-Herausforderungen – wir bringen
            Sie auf die richtige Spur.
            Melden Sie sich für Events an, verfolgen Sie Ihre Laufleistung und werden Sie Teil
            einer lebendigen Community von Laufbegeisterten. Bei RunSphere geht es nicht nur um
            das Rennen, sondern um die Reise – Ihre Reise. Schließen Sie sich uns heute an und
            erleben Sie die Freude am Laufen in seiner ganzen Vielfalt!
        </p>
    </div>
    <div class="row">
        <p class="col-6 lh-lg">
            <strong>Entdecken Sie Ihre Laufpassion mit NetRun.</strong>
            Laufen verbindet, motiviert und inspiriert. Bei NetRun finden Sie ein breites Spektrum
            an Laufveranstaltungen, die auf jede Art von Läufer zugeschnitten sind. Ob Sie in der
            Stadt oder in der freien Natur laufen möchten, ob Sie Anfänger oder erfahrener Marathonläufer
            sind – wir haben das passende Event für Sie.
            Tauchen Sie ein in die Welt des Laufens. Erleben Sie die Energie von Stadtmarathons, die Ruhe
            von Landschaftsläufen oder das Abenteuer von Berg- und Wüstenrennen. Registrieren Sie sich
            einfach für Ihr nächstes Rennen, setzen Sie sich neue Ziele und teilen Sie Ihre Erfahrungen
            mit Gleichgesinnten. RunSphere ist mehr als nur eine Plattform – es ist eine Gemeinschaft,
            die jeden Schritt auf Ihrem Laufweg begleitet.
        </p>
        <div id="carouselExampleInterval" class="carousel slide col-6" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="6000">
                    <img src="/images/carousel1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                    <img src="/images/carousel4.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                    <img src="/images/carousel6.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</body>
</html>