<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urkunde</title>
</head>
<body>
    <h1 class="fw-bold">URKUNDE</h1>
    <br>
    <h2 class="fw-bold">Laufveranstaltung</h2>
    <h2><%=eventRegistration.event%></h2>
    <br>
    <h3 class="fw-bold">Teilnehmer</h3>
    <h3><%=eventRegistration.user%></h3>
    <br>
    <h3 class="fw-bold">Zwischenzeit</h3>
    <h3><%=eventRegistration.splitTime%></h3>
    <h3 class="fw-bold">Endzeit</h3>
    <h3><%=eventRegistration.finishTime%></h3>
</body>
</html>