<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zahlen</title>
</head>
<body>
    <h3>Bezahlen</h3>
    <form action="/profile">
        <label for="">10 Euro</label>
        <input type="submit" value="Bezahlen">
    </form>
</body>
</html>